.f2{
  background-color: white;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    
  }
  table{
    width: 100%;
  }
  .action{
    width:10%;
  }
  .delete{
    border-radius: 2px;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 11px;
    margin: 2px 2px;
    cursor: pointer;
    background-color: red;
  }

  
  .update{
    border-radius: 2px;
    background-color: green;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 11px;
    margin: 1px 1px;
    cursor: pointer;
  }

  .add{
    
    border-radius: 2px;
    background-color: blue;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 2px 4px;
    cursor: pointer;
    position: absolute;
    left: 1370px;

  }
  