.f2{
  background-color: white;
 
}

.t1, th, td {
    border: 1px solid black;
    border-collapse: collapse;

    
  }
  th{
    width: 15%;
  }
  .t1{
    width: 85%;
  }
  .action{
    width:10%;
  }

.h{
  position: relative; left: 500px;top:50px;
}
.d{
  background-color: red;
  padding: 5px 100px;
  font-size: 25px;
  margin:auto;
  display: block;
  margin-left:auto;
  margin-Right:auto;



}
.u{
  background-color: green;
  padding: 5px 100px;
  font-size: 25px;
  margin:auto;
  display: block;
  margin-left:auto;
  margin-Right:auto;
}
.a{
  background-color: blue;
  padding: 3px 100px;
  font-size: 25px;
  margin:auto;
  display: block;
  margin-left:auto;
  margin-Right:auto;
}

  